<!-- Conditional template Outlet (see: https://stackoverflow.com/a/52448001/1116959) -->
<ng-container *ngTemplateOutlet="(_mode === 'condensed') ? condensedToolbar : expandedToolbar;"></ng-container>


<ng-template #condensedToolbar>
  <mat-toolbar class="top-navbar-toolbar">
    <div class="navbar-branding">
      <button class="btn toggle-sidenav-btn" type="button" (click)="toggleMainMenu()">
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <span [routerLink]="['/home/ali']" class="navbar-title">Ali Faqih</span>
    <div class="navbar-user">
      <div class="user-image-wrapper">
        <cc-aspect-ratio [ratio]="{w: 1, h: 1}">
          <cc-image-shell  class="user-image" animation="spinner" [src]="loggedUser?.image"
                          [alt]="'user image'"></cc-image-shell>
        </cc-aspect-ratio>
      </div>

    </div>
  </mat-toolbar>
</ng-template>

  <ng-template #expandedToolbar>
  <mat-toolbar class="top-navbar-toolbar">
    <mat-toolbar-row>
      <div class="navbar-branding">
        <mat-icon class="brand-logo" svgIcon="angular-logo-2"></mat-icon>
        <button class="btn toggle-sidenav-btn" type="button" (click)="toggleMainMenu()">
          <i class="fa fa-bars"></i>
        </button>
      </div>

      <div class="navbar-user bigal" [routerLink]="['/home/ali']">
        <div class="user-image-wrapper">
          <cc-aspect-ratio [ratio]="{w: 1, h: 1}">
            <cc-image-shell class="user-image" animation="spinner" [src]="loggedUser?.image"
                            [alt]="'user image'"></cc-image-shell>
          </cc-aspect-ratio>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</ng-template>


