<!-- Conditional template Outlet (see: https://stackoverflow.com/a/52448001/1116959) -->
<ng-container *ngTemplateOutlet="(_mode === 'condensed') ? condensedToolbar : expandedToolbar;"></ng-container>
<ng-template #condensedToolbar>
  <mat-toolbar class="top-navbar-toolbar">
    <div class="navbar-branding">
      <button class="btn toggle-sidenav-btn" type="button" (click)="toggleMainMenu()">
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <span [routerLink]="['/home/ali']" class="navbar-title">Real Stack</span>
    <div class="navbar-user" [routerLink]="['/home/ali']">
      <h1 class="ali-home"><a class="home-style" routerLink="'/home/ali">RS <img height=-"20px" src="/assets/icons/logos/code-branch.svg"/> APPS</a></h1>
    </div>
  </mat-toolbar>
</ng-template>
 <ng-template #expandedToolbar>
  <mat-toolbar class="top-navbar-toolbar">
    <mat-toolbar-row>
      <div class="navbar-branding">
        <mat-icon class="brand-logo" svgIcon="angular-logo-2"></mat-icon>
        <button class="btn toggle-sidenav-btn" type="button" (click)="toggleMainMenu()">
          <i class="fa fa-bars"></i>
        </button>
      </div>
      <div class="navbar-user" [routerLink]="['/home/ali']">
        <h1 class="ali-home"><a class="home-style" routerLink="'/home/ali">RS <img height="27px" src="/assets/icons/logos/code-branch.svg"/> APPS</a></h1>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</ng-template>


