
<!-- The CSS grid that makes up the entirety of the hero image/banner image area -->
<section class="top-banner-section">
  <!-- The CSS grid area that displays the image src="/assets/imgs/articles/key.jpeg" (layer 1) -->
  <div class="banner-image-div">
    <img class="banner-image" src="/assets/imgs/boss/pitt.jpg" alt="Banner Image" />
  </div>
  <!-- The CSS grid area that displays the semi-transparent gradient overlay (layer 2) -->
  <div class="banner-overlay-div"></div>
  <!-- The CSS grid area that displays the content (layer 3) -->
  <div class="banner-text-div">
    <span class="banner-text">
      <h2 class="ship-it">Lets Build The World Today,<span class="contrast-color"> In Real-Time </span></h2>
      <p class="lead nova">Stop Listening To Excuses, Stop Looking at Old Information</p>
      <p class="lead nova">People Science In Software Engineering.</p>
      <p class="lead nova">One Line of Tested Code At A Time.</p>
         <div class="flex-allday">

                     <p class="whoweare banner-btn" (click)="showSpinner()"><a class="banner-btn-item" [routerLink]="['/records/who-we-are/']">Who We Are</a></p>
               <p class="viz banner-btn" (click)="showSpinner()"> <a class="banner-btn-item" [routerLink]="['/dashboards/ecommerce/']">Mobile Visualizations</a></p>
              <p class="viz banner-btn" (click)="showSpinner()"> <a class="banner-btn-item" [routerLink]="['/dashboards/ecommerce/']">Server Side Pagination</a></p>
              <p class="bigdata banner-btn" (click)="showSpinner()"> <a class="banner-btn-item" [routerLink]="['/records/big-data/']">Big Data Grids</a></p>


    </div>
 </span>


    <ngx-spinner
            bdColor = "rgba(51, 51, 51, 0.8)"
            size = "large"
            color = "#5553ff"
            type = "pacman"></ngx-spinner>
  </div>
</section>
<div class="bg-na-blue white" style="letter-spacing:-1px; padding:5px 0 5px 6px;"><span class="bg-white na-blue" style="margin:0 3px 0 8px; padding:0 8px;"></span></div>

<section id="test">
  <article class="content">
    <div class="content-overlay"></div>
    <img class="content-image" src="../assets/imgs/articles/mean.jpg"  alt="" />
    <div class="content-details fadeIn-bottom">
      <h2 class="content-title">MEANStack Software</h2>
      <h2 class="content-title">CO-Founder, Specializing In Real-Time Enterprise Software</h2>
      <p class="content-text">We specialize with data companies solving the problem of large local record loads with server side data pagination with async calls to the server and real-time multiple client notifications for editing and creating new records with user entitlement integrations, Profitable,Grossing 7 Figures since 2018, built on highly performant and scalable software.</p>
    </div>
  </article>
</section>


