<!--src="/assets/imgs/authentication/signup-image.jpg" alt="Banner Image"-->
<!-- The CSS grid that makes up the entirety of the hero image/banner image area -->
<section class="top-banner-section">
  <div class="banner-image-div">
      <img class="banner-image"/>

  </div>
  <!-- The CSS grid area that displays the semi-transparent gradient overlay (layer 2) -->
  <div class="banner-overlay-div"></div>
  <!-- The CSS grid area that displays the content (layer 3) -->
  <div class="banner-text-div">
    <span class="banner-text">
      <h2 class="ship-it">Lets Build The World Today,<span class="contrast-color"> In Real-Time</span></h2>
      <p class="lead nova"> No More Waiting, Data Notifications On all Devices.</p>
      <p class="lead nova">People Science In Software Engineering.</p>
      <p class="lead nova">Easily Configurable Visualizations For Mobile.</p>
<main class="wrapper">

    <!--    </section>-->
    <section class="breweries" id="breweries">
        <ul>
            <li [routerLink]="['/dashboards/covid/']">
                <figure>
                    <img class="banner-svg" src="/assets/illustrations/real-1.svg" alt="Several hands holding beer glasses">

                </figure>
                <p>
                    <span class="hot">KPI Visualizations<br>
                    for Mobile & Desktop</span>
                </p>
               <button class="bigal-button" (click)="showSpinner()">Learn More </button>
            </li>
            <li>
                <figure>
                    <img class="banner-svg" src="/assets/illustrations/real-2.svg" alt="real svg">
                </figure>
                <p>
                    <span class="hot">Render Big Data <br>With Fast UI Views
                    </span>
                </p>
               <button class="bigal-button" (click)="showSpinner()" [routerLink]="['/records/big-data/']">Learn More </button>
            </li>
            <li>
                <figure>

                    <img class="banner-svg" src="/assets/illustrations/real-3.svg" alt="Three different glasses of beer">
                </figure>
                <p>
                      <span class="hot">Real-Stack Team,<br>
                          Platform & Services</span>

                </p>
                <button class="bigal-button" (click)="showSpinner()" [routerLink]="['/dashboards/team']">Learn More  </button>
            </li>
        </ul>
    </section>
</main>

 </span>


      <ngx-spinner
              bdColor = "rgba(51, 51, 51, 0.8)"
              size = "large"
              color = "#5553ff"
              type = "pacman"></ngx-spinner>
  </div>
</section>
<!--        <div class="social-logins row no-gutters real">-->
<!--        -->
<!--    -->
<!--    <span class="purple">Non-Tech Users Can Configure All</span>-->
<!--       <img src="/assets/illustrations/real-3.svg">-->
<!--          <span class="purple">Mobile & Web Application Visualization</span>-->
<!--     </button>-->
<!--      <button type="button" class="col-xs-12 col-sm-12 real" (click)="showSpinner()"   [routerLink]="['/dashboards/stat-calc/']">-->
<!--        <span class="purple"> AWS (Saas) Solutions, Enterprise Implementations </span>-->
<!--        <img src="/assets/illustrations/real-1.svg">-->
<!--          <span class="purple"> Real-Time UI Data Record Notifications </span>-->
<!--      </button>-->

<!--      <button type="button" class="col-xs-12 col-sm-12 real" (click)="showSpinner()" [routerLink]="['/records/big-data/']">-->
<!--          <span class="purple">Resolving Big Data Grids </span>-->
<!--      <img src="/assets/illustrations/real-2.svg">-->
<!--          <span class="purple"> Custom Filters & UI Performance </span>-->
<!--      </button>-->

<!--    </div>-->


<!--<div class="bg-na-blue white" style="letter-spacing:-1px; padding:5px 0 5px 6px;"><span class="bg-white na-blue" style="margin:0 3px 0 8px; padding:0 8px;"></span></div>-->




