<!--src="/assets/imgs/authentication/signup-image.jpg" alt="Banner Image"-->
<!-- The CSS grid that makes up the entirety of the hero image/banner image area -->
<section class="top-banner-section">
  <div class="banner-image-div">
      <img src="/assets/sexy-bg.svg" alt="Banner Image" class="real-image-baby banner-image"/>

  </div>
  <!-- The CSS grid area that displays the semi-transparent gradient overlay (layer 2) -->
  <div class="banner-overlay-div"></div>
  <!-- The CSS grid area that displays the content (layer 3) -->
  <div class="banner-text-div">
    <span class="banner-text">
        <h2 class="ship-it">Lets <span class="contrast-color"> Build The World</span>  Today <span class="contrast-color"> In Real-Time</span></h2>
           <p class="lead nova">People Science In Software Engineering.</p>
        <p class="lead nova"> Realtime Data & Visualization Web & Mobile platform</p>
         <p class="lead nova"> Event Driven Data Combined on a range of data sources </p>
          <p class="lead nova">real-time events, flexible serverless architecture</p>
          <p class="lead nova"> Import, Create, & Edit Big Data In Real-Time</p>
           <p class="lead nova">Configure Beautifully Responsive Reports From anywhere</p>
         <p class="lead nova"> AWS AppSync Single Sign On with Amplify and Lambda</p>
      <p class="lead nova"> Defined KPI Event Driven Data on S3 Uploads, Data Change Triggers</p>
      <p class="lead nova">Scalable Visualization library For Desktop & Mobile.</p>
        <p class="lead nova">  Single Sign On Platform Integrations outside of AWS</p>
      <p class="lead nova"> Reactive, Single Page, Data Driven Angular Applications.</p>
      <p class="lead nova"> Multi-User Record Notifications & Locking</p>
           <p class="lead nova">People Science In Software Engineering.</p>
        <p class="lead nova"> AWS Certified Cloud Architects, Digital Ocean, Azure </p>
        <p class="lead nova"> CI/CD - Integrates in Pipeline Builds </p>
<main class="wrapper realstack">
    <!--    </section>-->
    <section class="breweries" id="breweries">
        <ul>
            <li class="width-real">
                <figure>
                     <a class="thide-txt" routerLink="/dashboards/covid-kpi" class="btn blue"><img class="real-banner-svg thide"
                                                                                                   src="/assets/illustrations/real-3.svg" >
                         <p class="elevator">
                       <span class="dropit">Dashboards & Alerts</span></p></a>

                 <a class="thide-txt" routerLink="/records/big-data" class="btn blue">
                     <img class="real-banner-svg thide " src="/assets/illustrations/real-2.svg" ><p class="elevator">
                     <span class="dropit" (click)="showSpinner()"> Platform & Services </span></p></a>
                    <a  class="thide-txt" routerLink="/charts/stacked-charts" class="btn blue">
                        <img class="real-banner-svg thide" src="/assets/illustrations/real-1.svg"><p class="elevator">
                        <span class="dropit"> Interactive Visualizations</span></p></a>
                </figure>
            </li>
        </ul>
    </section>
</main>
 </span>
      <ngx-spinner
              bdColor = "rgba(51, 51, 51, 0.8)"
              size = "large"
              color = "#5553ff"
              type = "pacman"></ngx-spinner>
  </div>
</section>
<app-home-bottom></app-home-bottom>
