<ul class="side-menu-navigation nav flex-column">
  <li class="menu-item expandable-item nav-item" [routerLinkActive]="['active']">
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header class="menu-link">
        <div class="item-header-content">
          <mat-panel-title>
            <mat-icon class="menu-item-icon" svgIcon="dashboards"></mat-icon>
            <span class="menu-item-title">Visualizations</span>
          </mat-panel-title>
        </div>
      </mat-expansion-panel-header>
      <ul class="menu-sub-navigation nav flex-column">
        <li class="menu-item nav-item" [routerLinkActive]="['active']">
          <a class="menu-link nav-link" [routerLinkActive]="['active']" [routerLink]="['/dashboards/ecommerce']">
            <i class="menu-item-icon"></i>
            <span class="menu-item-title">Ecommerce</span>
          </a>
        </li>
        <li class="menu-item nav-item" [routerLinkActive]="['active']">
          <a class="menu-link nav-link" [routerLinkActive]="['active']" [routerLink]="['/dashboards/crm']">
            <i class="menu-item-icon"></i>
            <span class="menu-item-title">CRM</span>
          </a>
        </li>
      </ul>
    </mat-expansion-panel>
  </li>
  <li class="menu-item expandable-item nav-item" [routerLinkActive]="['active']">
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header class="menu-link">
        <div class="item-header-content">
          <mat-panel-title>
            <mat-icon class="menu-item-icon" svgIcon="forms"></mat-icon>
            <span class="menu-item-title">About Me</span>
          </mat-panel-title>
        </div>
      </mat-expansion-panel-header>
      <ul class="menu-sub-navigation nav flex-column">
        <li class="menu-item nav-item" [routerLinkActive]="['active']">
          <a class="menu-link nav-link" [routerLinkActive]="['active']" [routerLink]="['/forms/controls-and-validations']">
            <i class="menu-item-icon"></i>
            <span class="menu-item-title">Case Studies</span>
          </a>
        </li>
        <li class="menu-item nav-item" [routerLinkActive]="['active']">
          <a class="menu-link nav-link" [routerLinkActive]="['active']" [routerLink]="['/forms/stepper']">
            <i class="menu-item-icon"></i>
            <span class="menu-item-title">Stepper / Wizard</span>
          </a>
        </li>
      </ul>
    </mat-expansion-panel>
  </li>
  <li class="menu-item expandable-item nav-item" [routerLinkActive]="['active']">
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header class="menu-link">
        <div class="item-header-content">
          <mat-panel-title>
            <mat-icon class="menu-item-icon" svgIcon="layouts"></mat-icon>
            <span class="menu-item-title">Data Grids</span>
          </mat-panel-title>
        </div>
      </mat-expansion-panel-header>
      <ul class="menu-sub-navigation nav flex-column">
        <li class="menu-item nav-item" [routerLinkActive]="['active']">
          <a class="menu-link nav-link" [routerLinkActive]="['active']" [routerLink]="['/records/tennis-filters']">
            <i class="menu-item-icon"></i>
            <span class="menu-item-title">Custom Grid Filters</span>
          </a>
        </li>
        <li class="menu-item nav-item" [routerLinkActive]="['active']">
          <a class="menu-link nav-link" [routerLinkActive]="['active']" [routerLink]="['/records/big-data']">
            <i class="menu-item-icon"></i>
            <span class="menu-item-title">Big Data</span>
          </a>
        </li>
        <li class="menu-item nav-item" [routerLinkActive]="['active']">
          <a class="menu-link nav-link" [routerLinkActive]="['active']" [routerLink]="['/records/smart-records']">
            <i class="menu-item-icon"></i>
            <span class="menu-item-title">Smart Tables</span>
          </a>
        </li>
        <li class="menu-item nav-item" [routerLinkActive]="['active']">
          <a class="menu-link nav-link" [routerLinkActive]="['active']" [routerLink]="['/records/external-filters-records']">
            <i class="menu-item-icon"></i>
            <span class="menu-item-title">Tables with Filters</span>
          </a>
        </li>
      </ul>
    </mat-expansion-panel>
  </li>
</ul>
