<div class="container-fluid content-wrapper">
  <h1 class="page-title">Real Stack Charts </h1>

  <div class="callout-message-wrapper">
    <div class="callout-icon">
      <i class="fas fa-info-circle"></i>
    </div>
    <div class="callout-message">
      <span>
         Real Stack Charts Built In Angular, We Extend Our Clients BI Tools On Mobile & Web Clients
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="chart-card">
        <div class="chart-card-header">
          <span>Page Views</span>
        </div>
        <div class="chart-card-body">
          <div *ngIf="isBrowser" echarts [options]="multipleLineChartOption" [theme]="'admin-template'"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="chart-card">
        <div class="chart-card-header">
          <span>Transactions Completed - By Country</span>
        </div>
        <div class="chart-card-body">
          <div *ngIf="isBrowser" echarts [options]="pieChartOption" [theme]="'admin-template'"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="chart-card">
        <div class="chart-card-header">
          <span>Monthly Transactions</span>
        </div>
        <div class="chart-card-body">
          <div *ngIf="isBrowser" echarts [options]="barChartOption" [theme]="'admin-template'"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="chart-card">
        <div class="chart-card-header">
          <span>Sales</span>
        </div>
        <div class="chart-card-body">
          <div *ngIf="isBrowser" echarts [options]="smoothLineOption" [theme]="'admin-template'"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="chart-card">
        <div class="chart-card-header">
          <span>Project Distribution</span>
        </div>
        <div class="chart-card-body">
          <div *ngIf="isBrowser" echarts [options]="multiplePieChartOption" [theme]="'admin-template'"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="chart-card">
        <div class="chart-card-header">
          <span>Devices</span>
        </div>
        <div class="chart-card-body">
          <div *ngIf="isBrowser" echarts [options]="doughnutChartOption" [theme]="'admin-template'"></div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="chart-card">
        <div class="chart-card-header">
          <span>Referral Source</span>
        </div>
        <div class="chart-card-body">
          <div *ngIf="isBrowser" echarts [options]="areaStackChartOption" [theme]="'admin-template'"></div>
        </div>
      </div>
    </div>
  </div>
</div>
