$palette-1: (
  'primary': #5553ff,
  'primary-light': mix(#FFFFFF, #3b86ff, 10%), // Tint
  'primary-dark': mix(#000000, #3b86ff, 12%), // Shade
  'primary-contrast': #f6faff, // blue-0 (3.32)
  'secondary': #38D997,
  'secondary-light': mix(#FFFFFF, #38D997, 10%), // Tint
  'secondary-dark': mix(#000000, #38D997, 12%), // Shade
  'secondary-contrast': #504646, // (5.00)
  'tertiary': #ffc200,
  'quaternary': #FF0E18,
  'success': #28a745,
  'success-light': rgba-to-rgb(rgba(#28a745, 0.2)),
  'error': #dc3545,
  'error-light': rgba-to-rgb(rgba(#dc3545, 0.2)),
  'warning': #eba636,
  'warning-light': rgba-to-rgb(rgba(#eba636, 0.2)),
  'info': #2e69c9,
  'info-light': rgba-to-rgb(rgba(#2e69c9, 0.2)),
  'white': #FFFFFF,
  'facebook': #3b5998,
  'twitter': #00aced,
  'google': #cc181e,
  // Neutrals
  'grey-0': #f9f9fa,
  'grey-1': #eceef0,
  'grey-2': #dee1e5,
  'grey-3': #cfd3da,
  'grey-4': #bfc4cd,
  'grey-5': #adb3bf,
  'grey-6': #98a0ae,
  'grey-7': #828a97,
  'grey-8': #666d77,
  'grey-9': #3c3f46
);
