<div class="container-fluid content-wrapper">

  <div class="page-title-wrapper">
    <h1 class="page-title">Big Data</h1>
    <span class="page-subtitle">4,000+ records from NO-SQL Collection Schema</span>
  </div>
  <div class="row">
    <div class="col-12">
      <div *ngIf="filtersVisible">
        <form [formGroup]="filtersForm" class="filters-form">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="col-form-label">Search</label>
                <input class="form-control" type="text" (keyup)="search($event.target.value)" formControlName="search"  placeholder="Search by any field...">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="col-form-label">Date before</label>
                <div class="input-group">
                  <input class="form-control" name="datepicker" formControlName="tourney_dates" ngbDatepicker #datepicker="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn datepicker-toggle-btn" (click)="datepicker.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-group categories">
<!--                <label class="col-form-label">Categories</label>-->
<!--                <input class="form-control custom-autocomplete-input" type="text" placeholder="Enter a product category..."-->
<!--                       [formControl]="filtersForm.controls.categories"-->
<!--                       #categoriesInput-->
<!--                       [matChipInputFor]="categoriesList"-->
<!--                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"-->
<!--                       [matChipInputAddOnBlur]="true"-->
<!--                       (matChipInputTokenEnd)="addCategory($event)">-->
<!--                <mat-chip-list #categoriesList>-->
<!--                  <mat-chip *ngFor="let category of categories"-->
<!--                            selectable="false"-->
<!--                            removable="true"-->
<!--                            class="custom-chips rounded-chips"-->
<!--                            (removed)="removeCategory(category)">-->
<!--                    {{category}}-->
<!--                    <i matChipRemove class="fas fa-times remove-chip"></i>-->
<!--                  </mat-chip>-->
<!--                </mat-chip-list>-->
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row buttons-row no-gutters">
        <button class="col-sm-6 col-md-3 col-lg-2 filters-button" type="button" (click)="toggleFilters()">{{toggleFiltersLabel}}</button>
        <button class="col-sm-6 col-md-3 col-lg-2 filters-button" type="button" (click)="clearFilters()">Clear filters</button>
      </div>
      <div class="recent-orders row">
        <div class="col table-wrapper table-responsive">
          <table mat-table matSort [dataSource]="dataSource" class="table table-borderless table-sm recent-orders-table">

            <ng-container matColumnDef="singles_winner_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Player </th>
              <td mat-cell *matCellDef="let element"> {{element.singles_winner_name}} </td>
            </ng-container>
            <ng-container matColumnDef="singles_winner_player_id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
              <td mat-cell *matCellDef="let element"> {{element.singles_winner_player_id}} </td>
            </ng-container>
            <ng-container matColumnDef="tourney_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tournament </th>
              <td mat-cell *matCellDef="let element"> {{element.tourney_name}} </td>
            </ng-container>
            <ng-container matColumnDef="tourney_surface">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tournament Surface </th>
              <td mat-cell *matCellDef="let element"> {{element.tourney_surface}} </td>
            </ng-container>
            <ng-container matColumnDef="tourney_dates">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tournament Dates</th>
              <td mat-cell *matCellDef="let element"> {{element.tourney_dates | date}} </td>
            </ng-container>
            <ng-container matColumnDef="tourney_year">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
              <td mat-cell *matCellDef="let element"> {{element.tourney_year}} </td>
            </ng-container>

            <ng-container matColumnDef="tourney_conditions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Conditions </th>
              <td mat-cell *matCellDef="let element"> {{element.tourney_conditions}} </td>
            </ng-container>

            <ng-container matColumnDef="tourney_location">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
              <td mat-cell *matCellDef="let element"> {{element.tourney_location}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator class="table-paginator" [pageSizeOptions]="[5, 10, 25]" [pageSize]="5"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>




