<h1>
Export Tools
</h1>
<p>
     <i>import, filter and export in excel, csv, json, txt</i>
</p>

<div class="example-container mat-elevation-z8">
    <mat-table matTableExporter [dataSource]="dataSource" #exporter="matTableExporter" [hiddenColumns]="[0]">

        <ng-container matColumnDef="rank">
            <mat-header-cell *matHeaderCellDef> Rank </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.rank}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Player </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="country_name">
            <mat-header-cell *matHeaderCellDef> Country Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.country_name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="country_id">
            <mat-header-cell *matHeaderCellDef> Country Code </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.country_id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="bestRankDate">
            <mat-header-cell *matHeaderCellDef> Best Ranked Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.bestRankDate | date}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="points">
            <mat-header-cell *matHeaderCellDef> Points </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.points}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="bestRank">
            <mat-header-cell *matHeaderCellDef> Best Rank </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.bestRank}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<!-- <button mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name', Props: {Author: 'Talha'}})">Excel</button> -->
<button mat-raised-button (click)="exporter.exportTable('csv')">Csv</button>
<button mat-raised-button (click)="exporter.exportTable('json')">Json</button>
<button mat-raised-button (click)="exporter.exportTable('txt')">Txt</button>
<div>

</div>
