@import 'third-party/font-awesome';
@import 'third-party/bootstrap';
@import 'third-party/override-material-variables';
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500&display=swap');


html, body {
  margin: 0 !important;
  padding: 0 !important;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.page-title {
  color: #3b3939 !important;
  font-family: "Bodoni Moda", serif !important;
}

.mat-paginator-icon {
  color: #000000 !important;
}
.mat-select-arrow-wrapper {
  color: #000000 !important;
}

body > app-root > app-option-c-layout > mat-sidenav-container > mat-sidenav-content > app-health-data > div > div.row > div.recent-orders.row > div > mat-paginator > div > div > div.mat-paginator-page-size.ng-star-inserted > mat-form-field > div > div.mat-form-field-flex > div {
  color: #000000 !important;
}
.rs-btn {
  color:#000000 !important;
  border-color: #000000 !important;
}
a {
color: #000 !important;
  text-decoration: none !important;
  text-underline: none !important;
}
.ship-it {

font-size: 2.8rem !important;
color:#000000!important;
line-height:1;
  font-family: 'Bodoni Moda', serif;
  font-style: normal;
font-weight: 400;
text-align: center;
-webkit-font-smoothing: antialiased;
text-rendering: optimizelegibility;
font-feature-settings: 'lnum';
font-variant-numeric: lining-nums;
  margin: 2rem;

}

.contrast-color {
  color: navy !important;
  font-family: Bodoni Moda, serif !important;
font-style: normal;
font-weight: 500 !important;
}

.mat-toolbar-multiple-rows {
  min-height: 57px !important;
}

.real-image-baby {
    display: grid;
    //min-width: 350px; // Min for mobile
    //padding-top: -2rem;
    width: 100%;
    //height: 35rem !important;
    margin-left:0px;
    margin-right: 0px;
;
    object-fit: cover; // Using this so the image can be any size and still look halfway decent.

}
body > app-root > app-option-c-layout > mat-sidenav-container > mat-sidenav-content > app-top-navbar > mat-toolbar > mat-toolbar-row > div.navbar-controls > div.navbar-search.d-none.d-md-block > span > img:hover {
  pointer-events: fill !important;
  border-bottom: 1px solid #7371f2 !important;
}


 rs-btn:hover {
   color: #FFFFFF !important;
 }

.bigal-button {
  font-family: 'Bodoni Moda', serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;;
  color: #fff !important;;
  text-align: center;
  text-transform: capitalize;
  padding:1rem;
  word-wrap: break-word;
  font-size:1.5rem !important;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-feature-settings: 'lnum';
  font-variant-numeric: lining-nums;
  width: 100%;
  background-color: #000 !important;
}

.bigal-button:hover {
  border: 1px solid deeppink;
  pointer-events: visibleStroke;
  color:#FFF !important;

  background-color: navy !important;

}
.highlighted-section {
  background-color: #F2F2F2 !important;
}
.lead {display: none; min-height:2rem !important;}
.lead {
  font-size: 1.9rem!important;
  color:#000000 !important;
  line-height:1;
  font-style: oblique;
  text-align: center;
  font-weight: 100 !important;
  //min-height:2rem !important;
  font-family: 'Bodoni Moda', serif;
  margin: 2rem !important;
  text-transform: capitalize;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-feature-settings: 'lnum';
  font-variant-numeric: lining-nums;
}

.mat-expansion-panel {
margin-top:2rem !important;
}
.jumbotron {
  border-radius:0 !important;
}

[_nghost-serverApp-c5] .top-navbar-toolbar[_ngcontent-serverApp-c5] .navbar-actions[_ngcontent-serverApp-c5] .action-button[_ngcontent-serverApp-c5] {
  color:#000000 !important;
}

[_nghost-serverApp-c5] .top-navbar-toolbar[_ngcontent-serverApp-c5] .navbar-actions[_ngcontent-serverApp-c5] {
  height:auto !important;
}
h2.large-heading {
  font-size: 64px;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 72px;

}
.mat-icon svg{
  padding:1px !important;
}

.mat-expansion-panel-header-title {
  width:25rem !important;
}

/* top navigation */
.mat-toolbar-row, .mat-toolbar-single-row {
  background-color: #FFFFFF !important;
  //color: #000000 !important;
}
.breweries {
  //padding: 2rem;
}

figure {
  margin: 0 0 0rem !important;
}

.btn-blue:hover {
  background-color: #7371f2;
}

.breweries > ul {
  display: grid;
  grid-template-columns:1fr;
}

.breweries > ul > li {

}
/* Styles for the hero svg banner container */
.hero {
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  //align-items: auto;
}


.breweries > ul > li > figure > figcaption > h3 {
  color: white;
  font-size: 1.25rem;
}
.breweries > ul > li > figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  width: 100%;
}

.real.home-style {
  color:#5553ff !important;
}

[_nghost-serverApp-c5] .top-navbar-toolbar[_ngcontent-serverApp-c5] .navbar-search[_ngcontent-serverApp-c5] {
  padding-top:1.5rem !important;
  margin-left: -15px !important;
}

.ali-home{
  font-family: 'Bodoni Moda', serif;
  text-align: center;
  font-size:1.6rem !important;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-feature-settings: 'lnum';
  font-variant-numeric: lining-nums;
  font-style: oblique !important;
}
.real-menu-close {
  pointer-events: visibleStroke !important;
}

.covid-chart {
  margin-top:4rem;
  padding-top:2rem;
}
.real.line {
  margin-bottom: 0 !important;
  margin-top:5px !important;
}
.real-menu-close {
  height:25px !important;
  margin:5px;
}
.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
  margin-top:.5rem !important;
}

.hero > article > a {
  padding: 1rem;
  margin-top: .75rem;
}

.real-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
}
.real-detail-grid-item {
  /*  border: 1px solid rgba(0, 0, 0, 0.8);*/
  margin:10px;
  text-align: left;
}

/* real-stack grid styles */


.real-grid-container > ul {
  display: grid;
  //grid-gap: 1rem;
}

.real-grid-container > ul > li {
  //border: 1px solid #E2E2E2;
  border-radius: .5rem;
}
/* Styles for the hero svg banner container */
.hero {

  background-size: cover;
  padding: .5rem .5rem;
  /* grid styles */
  display: grid;
  grid-template-columns: auto;
  align-items: flex-start;
}
.real-grid-container > ul > li > figure {

  overflow: -moz-scrollbars-horizontal;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  text-align: left;
  position: relative;
}

.real-grid-container > ul > li > figure > img {

  height: 7rem;
  //margin-right:2rem;
}

.real-grid-container > ul > li > figure > figcaption > h3 {
  color: white;
  //padding: .75rem;
  font-size: 1.25rem;
}

.ali-btn-svg {
  height:29px;
}


.side-svg {
  height:30px !important;
color: #9e34df !important;
  margin-top:1rem;
margin-bottom:1rem;
}


//
//.real-grid-container > ul > li > a {
//  padding: .5rem 1rem;
//  margin: .5rem;
//}

.ali-home.home-style {
  font-size:2em !important;
  color: #fff !important;
  margin-top:.5rem;
}

body > app-root > app-option-c-layout > mat-sidenav-container > mat-sidenav-content > app-top-navbar > mat-toolbar > mat-toolbar-row {
  height:30px !important;
}

.viz-item {
  color: #FFFFFF !important;
}

.flex-allday {
  margin:  auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-user.bigal {
  pointer-events: visibleStroke;
}
.nav-user:hover {
  pointer-events: visibleStroke;
}
.bigdata.banner-btn:hover {
  pointer-events: auto;
}

.banner-btn-item:hover {
  color: #fff;
  background-color: #410c4e;
  border: 1px navy solid;
}

.fa-bars:before {
  padding-left:1px !important;
}
.banner-text {
  margin-left:auto;
  margin-right:auto;
}


.mat-toolbar h1 {
  font-weight:100 !important;
}

mat-icon {
  // Override Bootstrap reboot styles
  svg {
    vertical-align: baseline;
  }
}
.team-svg {
  height:25px;
  vertical-align: baseline;
}

// Include Color Palettes
@import './palettes/palette-1/root';
@import './palettes/palette-2/root';

// Just to debug responsive stuff
//@import 'mixins/debug-breakpoints';

/*!
 * Licensed under Big AL , Private Baby
 */

.la-pacman,
.la-pacman > div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.la-pacman {
  display: block;
  font-size: 0;
  color: #fff;
}

.la-pacman.la-dark {
  color: #333;
}

.la-pacman > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

.la-pacman {
  width: 32px;
  height: 32px;
}

.la-pacman > div:nth-child(1),
.la-pacman > div:nth-child(2) {
  width: 0;
  height: 0;
  background: transparent;
  border-style: solid;
  border-width: 16px;
  border-right-color: transparent;
  border-radius: 100%;
  -webkit-animation: pacman-rotate-half-up .5s 0s infinite;
  -moz-animation: pacman-rotate-half-up .5s 0s infinite;
  -o-animation: pacman-rotate-half-up .5s 0s infinite;
  animation: pacman-rotate-half-up .5s 0s infinite;
}

.la-pacman > div:nth-child(2) {
  margin-top: -32px;
  -webkit-animation-name: pacman-rotate-half-down;
  -moz-animation-name: pacman-rotate-half-down;
  -o-animation-name: pacman-rotate-half-down;
  animation-name: pacman-rotate-half-down;
}

.la-pacman > div:nth-child(3),
.la-pacman > div:nth-child(4),
.la-pacman > div:nth-child(5),
.la-pacman > div:nth-child(6) {
  position: absolute;
  top: 50%;
  left: 200%;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: pacman-balls 2s 0s infinite linear;
  -moz-animation: pacman-balls 2s 0s infinite linear;
  -o-animation: pacman-balls 2s 0s infinite linear;
  animation: pacman-balls 2s 0s infinite linear;
}

.la-pacman > div:nth-child(3) {
  -webkit-animation-delay: -1.44s;
  -moz-animation-delay: -1.44s;
  -o-animation-delay: -1.44s;
  animation-delay: -1.44s;
}

.la-pacman > div:nth-child(4) {
  -webkit-animation-delay: -1.94s;
  -moz-animation-delay: -1.94s;
  -o-animation-delay: -1.94s;
  animation-delay: -1.94s;
}

.la-pacman > div:nth-child(5) {
  -webkit-animation-delay: -2.44s;
  -moz-animation-delay: -2.44s;
  -o-animation-delay: -2.44s;
  animation-delay: -2.44s;
}

.la-pacman > div:nth-child(6) {
  -webkit-animation-delay: -2.94s;
  -moz-animation-delay: -2.94s;
  -o-animation-delay: -2.94s;
  animation-delay: -2.94s;
}

.la-pacman.la-sm {
  width: 16px;
  height: 16px;
}

.la-pacman.la-sm > div:nth-child(1),
.la-pacman.la-sm > div:nth-child(2) {
  border-width: 8px;
}

.la-pacman.la-sm > div:nth-child(2) {
  margin-top: -16px;
}

.la-pacman.la-sm > div:nth-child(3),
.la-pacman.la-sm > div:nth-child(4),
.la-pacman.la-sm > div:nth-child(5),
.la-pacman.la-sm > div:nth-child(6) {
  width: 4px;
  height: 4px;
}

.la-pacman.la-2x {
  width: 64px;
  height: 64px;
}

.la-pacman.la-2x > div:nth-child(1),
.la-pacman.la-2x > div:nth-child(2) {
  border-width: 32px;
}

.la-pacman.la-2x > div:nth-child(2) {
  margin-top: -64px;
}

.la-pacman.la-2x > div:nth-child(3),
.la-pacman.la-2x > div:nth-child(4),
.la-pacman.la-2x > div:nth-child(5),
.la-pacman.la-2x > div:nth-child(6) {
  width: 16px;
  height: 16px;
}

.la-pacman.la-3x {
  width: 96px;
  height: 96px;
}

.la-pacman.la-3x > div:nth-child(1),
.la-pacman.la-3x > div:nth-child(2) {
  border-width: 48px;
}

.la-pacman.la-3x > div:nth-child(2) {
  margin-top: -96px;
}

.la-pacman.la-3x > div:nth-child(3),
.la-pacman.la-3x > div:nth-child(4),
.la-pacman.la-3x > div:nth-child(5),
.la-pacman.la-3x > div:nth-child(6) {
  width: 24px;
  height: 24px;
}

/*
 * Animations
 */
@-webkit-keyframes pacman-rotate-half-up {
  0%,
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes pacman-rotate-half-up {
  0%,
  100% {
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  50% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes pacman-rotate-half-up {
  0%,
  100% {
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  50% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes pacman-rotate-half-up {
  0%,
  100% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes pacman-rotate-half-down {
  0%,
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-moz-keyframes pacman-rotate-half-down {
  0%,
  100% {
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  50% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-o-keyframes pacman-rotate-half-down {
  0%,
  100% {
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  50% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes pacman-rotate-half-down {
  0%,
  100% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-webkit-keyframes pacman-balls {
  0% {
    left: 200%;
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  5% {
    opacity: .5;
  }
  66% {
    opacity: 1;
  }
  67% {
    opacity: 0;
  }
  100% {
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@-moz-keyframes pacman-balls {
  0% {
    left: 200%;
    opacity: 0;
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  5% {
    opacity: .5;
  }
  66% {
    opacity: 1;
  }
  67% {
    opacity: 0;
  }
  100% {
    left: 0;
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@-o-keyframes pacman-balls {
  0% {
    left: 200%;
    opacity: 0;
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  5% {
    opacity: .5;
  }
  66% {
    opacity: 1;
  }
  67% {
    opacity: 0;
  }
  100% {
    left: 0;
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@keyframes pacman-balls {
  0% {
    left: 200%;
    opacity: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  5% {
    opacity: .5;
  }
  66% {
    opacity: 1;
  }
  67% {
    opacity: 0;
  }
  100% {
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@media only screen
and (min-device-width: 414px)
and (max-device-width: 790px)
and (-webkit-min-device-pixel-ratio: 3) {
  .ship-it {
    font-size: 2.5rem !important;
    color: #7371f2;
    line-height:.1;
    margin-top:2rem !important;
    font-weight: 400 !important;
    font-family: realistnarrow, sans-serif !important;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-feature-settings: 'lnum';
    font-variant-numeric: lining-nums;
  }
  .thide svg {
    height:3rem;
  }
  .lead {display: none;}
  .lead {
    font-size: 1.4em !important;
    color:#FFFFFF;
    line-height:1;
    text-align: center;
    font-weight:200 !important;
    font-family: realistnarrow, sans-serif !important;
    font-weight: 100;
    font-style: normal;
    margin-bottom: 1.3em;
    margin-top: 1em;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-feature-settings: 'lnum';
    font-variant-numeric: lining-nums;
  }
}
