<div class="jumbotron text-center blue-bg" style="margin-bottom:0">
    <h2 class="large-heading">Let's Work Together</h2>
    <a href="mailto:admin@realstackapps.com">
        <button class="contact bigal-button" >Contact Us</button>
    </a>
</div>
<div class="jumbotron text-center rs-footer" style="margin-bottom:0">
    <p>©2018 - 2021, RealStack Application Services, Inc. All rights reserved.&nbsp; | &nbsp; 36 West 25th Street, 8th Floor
        New York, NY 10010‬</p>
    
</div>
<!--[routerLink]="'dashboards/contact-us'"-->
