<!--<div class="wrapper">-->
<!--    <h2 class="new-modal-title">New Record</h2>-->
<!--    <form [formGroup]="playerForm" (ngSubmit)="addRecord()" class="modal-rs">-->
<!--        <div class="form-group">-->
<!--            <input type="text" class="form-control" placeholder="Player Name" formControlName="singles_winner_name">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <input type="text" class="form-control" placeholder="Tournament" formControlName="tourney_name">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <input type="text" class="form-control" placeholder="Year" formControlName="tourney_year">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <input type="text" class="form-control" placeholder="Surface" formControlName="tourney_surface">-->
<!--        </div>-->

<!--        <div class="real-buttons-row">-->
<!--            <button class="new-btn" type="submit" (click)="createAccount()">Create Record</button>-->
<!--            <button class="cancel-btn" (click)="cancel()">Cancel</button>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->

<!--<h2 class="modal-title">New Record</h2>-->

<!--<mat-dialog-content [formGroup]="playerForm">-->

<!--    <mat-form-field>-->
<!--        <input matInput-->
<!--               placeholder="Player Name"-->
<!--               formControlName="singles_winner_name">-->
<!--    </mat-form-field>-->

<!--    <mat-form-field>-->
<!--        <input matInput-->
<!--               placeholder="Tournament"-->
<!--               formControlName="tourney_name">-->
<!--    </mat-form-field>-->

<!--    <mat-form-field>-->
<!--        <input matInput-->
<!--               placeholder="Year"-->
<!--               formControlName="tourney_year">-->
<!--    </mat-form-field>-->

<!--    <mat-form-field>-->
<!--        <input matInput-->
<!--               placeholder="Surface"-->
<!--               formControlName="tourney_surface">-->
<!--    </mat-form-field>-->
<!--</mat-dialog-content>-->

<!--<mat-dialog-actions>-->
<!--    <button class="mat-raised-button"(click)="cancel()">Close</button>-->
<!--    <button class="mat-raised-button mat-primary" (click)="addRecord()">Save</button>-->
<!--</mat-dialog-actions>-->
