<div class="content-wrapper">

<!--    <div class="highlighted-section">-->
<!--        <div class="container-fluid">-->

<!--            <div class="row no-gutters">-->
<!--                <div class="visualization-heading col-12">-->
<!--                    <div class="heading-info">-->
<!--                        <h2 class="news-title"> Aggregated News Dashboard </h2>-->

<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="knowledge-articles-list row">
        <div class="real-team visualizations-section knowledge-articles-visualization">

            <div class="knowledge-articles-list row">
            <h2> Trending Global News </h2>

                <div *ngFor="let t of news | slice:0:3" class="knowledge-article-wrapper col-12 col-md-6 col-lg-4 col-xl-3">

                    <div class="knowledge-article">
                        <div class="article-cover-wrapper">
                            <cc-aspect-ratio [ratio]="{w: 35, h: 35}">
                                <cc-image-shell [alt]="'cover image'" [mode]="'cover'" [src]="articles.urlToImage"
                                                animation="spinner"
                                                class="cover-image"></cc-image-shell>
                            </cc-aspect-ratio>
                        </div>
                        <div class="article-info">
                            <div class="author-image-wrapper">
                                <cc-aspect-ratio [ratio]="{w: 1, h: 1}">
                                    <cc-image-shell [alt]="'author image'" [src]="articles.urlToImage"
                                                    animation="spinner"
                                                    class="author-image"></cc-image-shell>
                                </cc-aspect-ratio>
                            </div>
                            <div class="article-details">
                                <span class="author-name">{{ t.name }}</span>
                            </div>
                        </div>
                        <h3 class="article-title">{{ t.title }}</h3>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="knowledge-articles-list row">
        <div class="real-team visualizations-section knowledge-articles-visualization">

            <div class="knowledge-articles-list row">
                <h2> Trending Technology News </h2>


        <div *ngFor="let t of articles | slice:0:3" class="knowledge-article-wrapper col-12 col-md-6 col-lg-4 col-xl-3">

            <div class="knowledge-article">
                <div class="article-cover-wrapper">
                    <cc-aspect-ratio [ratio]="{w: 35, h: 35}">
                        <cc-image-shell [alt]="'cover image'" [mode]="'cover'" [src]="t.urlToImage"
                                        animation="spinner"
                                        class="cover-image"></cc-image-shell>
                    </cc-aspect-ratio>
                </div>
                <div class="article-info">
                    <div class="author-image-wrapper">
                        <cc-aspect-ratio [ratio]="{w: 1, h: 1}">
                            <cc-image-shell [alt]="'author image'" [src]="t.urlToImage"
                                            animation="spinner"
                                            class="author-image"></cc-image-shell>
                        </cc-aspect-ratio>
                    </div>
                    <div class="article-details">
                        <span class="author-name">{{ t.name }}</span>
                    </div>
                </div>
                <h3 class="article-title">{{ t.title }}</h3>
            </div>
        </div>
    </div>

<app-footer></app-footer>



















