<div class="grid-container">
    <p class="grid-item">{{playerData.singles_winner_playerData_id}}</p>
    <p class="grid-item">{{playerData.singles_winner_name}}</p>
    <p class="grid-item"> {{playerData.tourney_dates}}</p>
    <p class="grid-item">{{playerData.tourney_conditions}}</p>
    <p class="grid-item">{{playerData.tourney_location}}</p>
    <p class="grid-item">{{playerData.tourney_name}}</p>
    <p class="grid-item">{{playerData.tourney_surface}}</p>
    <p class="grid-item">{{playerData.tourney_year}}</p>
</div>
