
      <div class="visualizations-section knowledge-articles-visualization">
        <div class="row">
          <div class="visualization-heading col-12">
            <div class="heading-info">
              <h4 class="heading-title">RealStack Insights</h4>
            </div>
          </div>
        </div>
        <div class="knowledge-articles-list row">
          <div class="knowledge-article-wrapper col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let article of articles">
            <div class="knowledge-article">
              <div class="article-cover-wrapper">
                <cc-aspect-ratio [ratio]="{w: 35, h: 23}">
                  <cc-image-shell class="cover-image" animation="spinner" [mode]="'cover'" [src]="article.featured_image" [alt]="'cover image'"></cc-image-shell>
                </cc-aspect-ratio>
              </div>
              <div class="article-info">
                <div class="author-image-wrapper">
                  <cc-aspect-ratio [ratio]="{w: 1, h: 1}">
                    <cc-image-shell class="author-image" animation="spinner" [src]="article.author.picture" [alt]="'author image'"></cc-image-shell>
                  </cc-aspect-ratio>
                </div>
                <div class="article-details">
                  <span class="author-name">{{ article.author.name }}</span>
                  <span class="article-date">{{ article.published_date }}</span>
                </div>
              </div>
              <h3 class="article-title">{{ article.title }}</h3>
              <span class="article-category badge" [attr.category]="article.category">{{ article.category }}</span>
            </div>
          </div>
        </div>
      </div>