.full-report-banner {
  // Same height as the .orders-visualization
  height: 100%;
} // .full-report-banner

.content{
  position:relative;
}
.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  margin:0;
  padding:0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
  height:100%;
}

.wrapper{
  display:grid;
  height:100%;
  grid-template-columns: auto;
  grid-template-rows: auto 30% 40% auto auto;
  grid-template-areas:
  "hd"
  "hero  "
  "casestudies"
  "contact"
  "ft";
}
/* case studies */
.casestudies {
  align-items: stretch;

  display:grid;
  grid-area: casestudies;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  justify-self: stretch;
  margin:3px;
}
