<!--<section id="test">-->
<!--    <article class="content">-->
<!--        <div class="content-overlay"></div>-->
<!--        <img class="content-image" src="../assets/imgs/articles/mean.jpg"  alt="" />-->
<!--        <div class="content-details fadeIn-bottom">-->
<!--            <h2 class="content-title">MEANStack Software</h2>-->
<!--            <h2 class="content-title">CO-Founder, Specializing In Real-Time Enterprise Software</h2>-->
<!--            <p class="content-text">We specialize with data companies solving the problem of large local record loads with server side data pagination with async calls to the server and real-time multiple client notifications for editing and creating new records with user entitlement integrations, Profitable,Grossing 7 Figures since 2018, built on highly performant and scalable software.</p>-->
<!--        </div>-->
<!--    </article>-->
<!--</section>-->
<div class="full-report-banner banner-callout vertical-callout">
    <div class="callout-info">
        <h4 class="callout-title">Want full report?</h4>
        <p class="callout-message">
            The Highly Performant Real-Stack Platform Was Engineered For Real-Time Data Operations With Easy Real-Time Business Intelligence Integrations For Non-Technical Analysts To Render Relevant Reporting And Stunningly Responsive Visualizations
        </p>
    </div>
    <div class="callout-illustration-wrapper">
        <cc-aspect-ratio [ratio]="{w: 39, h: 19}">
            <cc-image-shell class="callout-illustration" [mode]="'cover'" animation="spinner" [src]="'/assets/illustrations/covidKpi-dashboard-full-report.svg'" [alt]="'Dashboard full report'"></cc-image-shell>
        </cc-aspect-ratio>
    </div>
    <button type="button" class="callout-btn btn">See reports</button>
</div>

<!--<section class="grid-container">-->
<!--    <div class="grid-item">-->
<!--        <img class="banner-svg" src="/assets/illustrations/real-1.svg" alt="real">-->
<!--        <p class="hot">-->
<!--                    <span class="hot">KPI Visualizations-->
<!--                    for Mobile & Desktop</span>-->
<!--        </p>-->
<!--        <button class="bigal-button" (click)="showSpinner()" [routerLink]="['/records/big-data/']">Learn More </button>-->
<!--    </div>-->
<!--    <div class="grid-item">-->
<!--        <img class="banner-svg" src="/assets/illustrations/real-2.svg" alt="real">-->
<!--        <p class="hot">-->
<!--            Render Big Data With Fast UI Views-->
<!--        </p>-->
<!--        <button class="bigal-button" (click)="showSpinner()" [routerLink]="['/records/big-data/']">Learn More </button>-->
<!--    </div>-->
<!--    <div class="grid-item">-->
<!--        <img class="banner-svg" src="/assets/illustrations/real-3.svg" alt="real">-->
<!--        <p class="hot">-->
<!--            Real-Stack Team, Platform & Services-->
<!--        </p>-->
<!--        <button class="bigal-button" (click)="showSpinner()" [routerLink]="['/records/big-data/']">Learn More </button>-->
<!--    </div>-->
<!--</section>-->
