<section id="test">
    <article class="content">
        <div class="content-overlay"></div>
        <img class="content-image" src="../assets/imgs/articles/mean.jpg"  alt="" />
        <div class="content-details fadeIn-bottom">
            <h2 class="content-title">MEANStack Software</h2>
            <h2 class="content-title">CO-Founder, Specializing In Real-Time Enterprise Software</h2>
            <p class="content-text">We specialize with data companies solving the problem of large local record loads with server side data pagination with async calls to the server and real-time multiple client notifications for editing and creating new records with user entitlement integrations, Profitable,Grossing 7 Figures since 2018, built on highly performant and scalable software.</p>
        </div>
    </article>
</section>
